<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelBrowserStackSuite" parallel="tests" thread-count="5">

    <test name="Chrome on Windows">
        <parameter name="browser" value="chrome"/>
        <parameter name="browser_version" value="latest"/>
        <parameter name="os" value="Windows"/>
        <parameter name="os_version" value="11"/>
        <classes>
            <class name="elpais.tests.ElPaisTest"/>
        </classes>
    </test>

    <test name="Firefox on Windows">
        <parameter name="browser" value="firefox"/>
        <parameter name="browser_version" value="latest"/>
        <parameter name="os" value="Windows"/>
        <parameter name="os_version" value="11"/>
        <classes>
            <class name="elpais.tests.ElPaisTest"/>
        </classes>
    </test>

    <test name="Chrome on macOS">
        <parameter name="browser" value="chrome"/>
        <parameter name="browser_version" value="latest"/>
        <parameter name="os" value="OS X"/>
        <parameter name="os_version" value="Big Sur"/>
        <classes>
            <class name="elpais.tests.ElPaisTest"/>
        </classes>
    </test>

    <test name="Google Pixel 6 - Android">
        <parameter name="device" value="Google Pixel 6"/>
        <parameter name="os_version" value="12.0"/>
        <parameter name="real_mobile" value="true"/>
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="elpais.tests.ElPaisTest"/>
        </classes>
    </test>

    <test name="Samsung Galaxy S22 - Android">
        <parameter name="device" value="Samsung Galaxy S22"/>
        <parameter name="os_version" value="12.0"/>
        <parameter name="real_mobile" value="true"/>
        <parameter name="browserName" value="Chrome"/>
        <classes>
            <class name="elpais.tests.ElPaisTest"/>
        </classes>
    </test>

</suite>
